.adress {
  margin-top: 11px;
  list-style: none;
  font-style: normal;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__text {
  color: $white-color;
  text-decoration: none;

  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.adress__mail,
.adress__tel {
  color: $text-color;
  text-decoration: none;

  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
