.features {
  list-style: none;
  // display: flex;
  // gap: 30px;
}

.features__iteam {

&:not(:first-child) {
    margin-top: 30px;
  }
}
 

.features__box {
  display: flex;
  // gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  // width: 270px;
  height: 120px;
  background-color: $third-background-color;
  
 }

.features__title {
  margin-bottom: 10px;
  // max-width: 270px;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  // max-width: 270px;
}
