
$card-set-gap: 30px;
$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$button-hover-color: #188ce8;
$white-color: #ffffff;
$primary-background-color: #f5f5f5;
$secondary-background-color: #2f303a;
$third-background-color: #f5f4fa;
$background-portfolio: #eeeeee;
$icon-color: rgba(175, 177, 184, 1);
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
